/*Global*/
.contenedor
{
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/
.site-header.inicio
{
    position: relative;
    background-image: url(../img/2020-01-18\ \(3\).png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-width: 600px;
}

.barra
{
    position: absolute;
    left: 580px;
    top: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo
{
    position: absolute;
    top: 40px;
    left: 100vh;
}

/*Navegación*/
.Navegación a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 25px;
}
