html
{
    font-size: 62.5%; /*Reset para REMS -62.5% = 10px de 16px*/
}


body
{
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: black;
}

.Hhead
{
    /*color: black;*/
    position: relative;
    font-size: 12rem;
    bottom: 25rem;
    left: 75rem;
}

/*Global*/
.contenedor
{
    max-width: 110rem; /*1200 px*/
    margin: 0 auto;
}

.barra
{
    text-align: center;
    position: center;
    justify-content: space-around;
    background-image: url(../img/BlackBackground\ .png);
    height: 3rem;
}

/*Header*/
.site-header.inicio
{
    position: relative;
    background-image: url(../img/CodeBackground.png);
    background-position: center center;
    background-size: cover;
    height: 42rem;
    width: 150rem;
}

.logo
{
    position: absolute;
    top: 60px;
    left: 100vh;
}

/*Navegación*/
.Navegación a
{
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 25px;
}
.Navegación a:last-of-type
{
    margin: 0;
}
.Navegación a:hover
{
    color: rgb(255, 255, 255);
}
