html
{
    font-size: 62.5%; /*Reset para REMS -62.5% = 10px de 16px*/
}

body
{
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    color: white;
    background-color: black;
}

.Hhead
{
    /*color: black;*/
    position: absolute;
    font-size: 10rem;
    bottom: -7rem;
    right: 1rem;
}

/*Global*/
.contenedor
{
    max-width: 80rem; /*1200 px*/
    margin: 0 auto;
}

.contenido-header
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contenido-header h1
{
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra
{
    text-align: center;
    position: center;
    justify-content: space-around;
    background-image: url(../img/BlackBackground\ .png);
    height: 3rem;
}

h1
{
    font-size: 3.8rem;
}

h2
{
    font-size: 3.4rem;
}

h3
{
    font-size: 3rem;
}

h4
{
    font-size: 2.6rem;
}

/*Utilidades*/
.seccion
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*iconos*/
.iconos-nosotros
{
    display: flex;
    justify-content: space-between;
}

.icono
{
    flex-basis: clac(33.3% - 1rem);
    text-align: center;
}

/*Header*/
.site-header.inicio
{
    position: relative;
    background-image: url(../img/CodeBackground.png);
    background-position: center center;
    background-size: cover;
    height: 42rem;
    widows: 10rem;
}

.logo
{
    position: absolute;
    top: 60px;
    left: 100vh;
}

/*Navegaci贸n*/
.Navegaci贸n a
{
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 25px;
}
.Navegaci贸n a:last-of-type
{
    margin: 0;
}
.Navegaci贸n a:hover
{
    color: rgb(255, 255, 255);
}
