body
{
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: black;
}

/*Global*/
.contenedor
{
    max-width: 1200px;
    margin: 0 auto;
}

.barra
{
    position: absolute;
    justify-content: space-between;
}

/*Header*/
.site-header.inicio
{
    position: relative;
    background-image: url(../img/CodeBackground.png);
    background-position: 50px 30px;
    background-size: cover;
    height: 75vh;
    width: 150vh;
}

.logo
{
    position: absolute;
    top: 40px;
    left: 100vh;
}

/*Navegaci贸n*/
.Navegaci贸n a
{
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-size: 20px;
    margin-right: 25px;
}
.Navegaci贸n a:last-of-type
{
    margin: 0;
}
.Navegaci贸n a:hover
{
    color: rgb(255, 255, 255);
}
